name: ZFeng3242-sync
on:
  schedule:
    - cron: '1 */3 * * *'
  workflow_dispatch:
  watch:
    types: started
  repository_dispatch:
    types: sync-ZFeng3242-JD-haoyangmao
jobs:
  repo-sync:
    env:
      PAT: ${{ secrets.PAT }} 
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: sync ZFeng3242-JD-haoyangmao
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/ZFeng3242/JD-haoyangmao.git"
          source_branch: "main"
          destination_branch: "ZFeng3242"
          github_token: ${{ secrets.PAT }}
